
@import './mixin.scss';

.wraper,.swiper-container{
    width: 100%;
    height: 100%;
}

//菜单控制器
.swiper-pagination{
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 9;
    bottom: 0 !important;
    background-color: #fff;
    ul{
        max-width: 600px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    li{        
        float: left;
        cursor: pointer;
        position: relative;
        width: 100px;
        text-align: center;
        .item{
            display: inline-block;
            position: relative;
            overflow: hidden;
            white-space: pre;
        }

        .item:before{
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            content: attr(data-content);
            overflow: hidden;
        }

        .itemleft {
            color: #000;
        }
        .itemleft:before {            
            color: #f00;
        }

        .itemright {           
            color: #f00;            
        }
        .itemright:before {           
            color: #000;
        }
    }
}