
:global{
    html{
        width: 100%;
        height: 100%;
        *{
            margin: 0;
            padding: 0;
        }
    }
    body{
        width: 100%;
        height: 100%;
    }
    #root{
        max-width: 600px;        
        margin: 0 auto;
        height: 100%;
    }


    img{
        width: 300px;
        height: auto;
    }

    li{
        list-style-type: none;
    }

}