
// 字体大小、颜色
@mixin fc($size,$color){
	font-size:$size;
	color:$color;
}

//左浮动
@mixin fll{
	float: left;
}

//右浮动
@mixin flr{
	float: right;
}

//宽高
@mixin wh($width,$height){
	width:$width;
	height:$height;
}

//背景颜色
@mixin bg($color){
	background-color:$color;
}