
@import '../../../common/styles/mixin.scss';

.wraper{
    width: 300px;
}

// .swiper-container{
// .swiper-wrapper{
//     @include wh(100%,100%);
// }

// .swiper-container1,.swiper-container2{
//     width: 600px;
// }

// .tab{
//     width: 100px;
// }

// .tab{
//     width: 200px !important;
// }

.swiper-slide{
    height: 300px; 
    color: #fff;
    line-height: 300px;
    text-align: center;
    font-size: 50px; 
}

.blue{
    @include bg(#4390EE)
}

.red{
    @include bg(#CA4040)    
}

.black{
    @include bg(#FF8604)        
}

.swiper-pagination{
    width: 300px;
    position: relative;
    height: 50px;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        margin: 0;
    }
    li{
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: left;
        cursor: pointer;
        position: relative;
        width: 100px;

        .item{
            display: inline-block;
            position: relative;
            overflow: hidden;
            white-space: pre;
        }

        .item:before{
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            content: attr(data-content);
            overflow: hidden;
        }

        .itemleft {
            color: #000;
        }
        .itemleft:before {            
            color: #f00;
        }

        .itemright {           
            color: #f00;            
        }
        .itemright:before {           
            color: #000;
        }
    }
}