:global {
    ul {
        max-width: 600px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        background-color: #fff;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        padding: 0;
    }
    li {
        float: left;
        cursor: pointer;
        position: relative;
        width: 100px;
        text-align: center;
        padding: 0;
        margin: 0;
        .item {
            display: inline-block;
            position: relative;
            overflow: hidden;
            white-space: pre;
        }
        .item:before {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            content: attr(data-content);
            overflow: hidden;
        }
        .itemleft {
            color: #000;
        }
        .itemright {
            color: #f00;
        }
    }
}