
@import '../../common/styles/mixin.scss';

:global{
    .particles-js-canvas-el{
        position: absolute;
        @include wh(100%,100%);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
