._back_1iv8c_1 {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  font-size: 36px;
  background: url("ca1e76090d3fc104a12a09a1fcaf2d5b.jpg") no-repeat; }
